* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightblue;
}
header {
    padding: 20px;
    background-color: lavenderblush;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
header h1 {
    display: inline-block;

}
header h1 a {
    text-decoration: none;
    color: black;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: right;
}
header nav ul {
    list-style-type: none;
}
header nav li {
    display: inline-block;
    margin-left: 25px;
    
}
header nav li a {
    color: black;
}
.geo img {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    height: 100px; 
    margin: 50px 150px;
    padding-bottom: 200px; 
}
.about-me h2 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-right: 2px black solid;
    text-align: right;
    height: 200px;
    padding: 10px;
    
}
.about-me p {
    margin: 10px 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}


